@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
}
.btn{
    padding: 18px 32px 18px 32px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}
.btn-container{
    text-align: center;
}
#hero{
    height: 652px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(../asset/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content{
    width: 726px;
    /* display: flex;
    flex-direction: column;
    gap: 26px; */
}
#hero .subtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 12px;
}
#hero .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}
#hero .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 26px;
}
#card-box{
    width: 937px;
    margin: 100px auto;
}
.card-container{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 20px; /*if gap is enough it won't be applied */
    font-family: Work Sans;
}
/* #card-box .info{
} */
#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
#card-box .title{
    margin: 0 auto;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.card{
    max-width: 260px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 260px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    background: rgba(82, 195, 3, 0.15);
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
}
#about-us{
    display: flex;
    height: 475px;
}
#about-us .about-image{
    width: 50%;
}
#about-us .about-image img{
    width: 100%;
}
#about-us .about-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 30px 50px 30px;
    gap: 24px;
}
.texts h1{
    /* We always make sure to provide you with good food */
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 34px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.texts p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
.follow{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.follow p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
}